<div class="records">
  <table>
    <tr>
      <th>Title</th>
      <th>Division</th>
      <th>Project Owner</th>
      <th>Budget</th>
      <th>Status</th>
      <th>Created</th>
      <th>Modified</th>
      <th></th>
    </tr>
    <tr *ngFor="let record of records;trackBy: trackRecordsBy">
      <td><input [ngModel]="record.title" (ngModelChange)="recordChanged(record, 'title', $event)" /></td>
      <td><input [ngModel]="record.division" (ngModelChange)="recordChanged(record, 'division', $event)" /></td>
      <td><input [ngModel]="record.projectOwner" (ngModelChange)="recordChanged(record, 'projectOwner', $event)" /></td>
      <td class="currency">
        <input type="number" [ngModel]="record.budget" (ngModelChange)="recordChanged(record, 'budget', $event)" />
        <div>${{record.budget | number:'1.2-2'}}</div>
      </td>
      <td><input [ngModel]="record.status" (ngModelChange)="recordChanged(record, 'status', $event)" /></td>
      <td>
        <input [ngModel]="record.created | amDateFormat:'MM-DD-YYYY'" (change)="recordChanged(record, 'created', $event.target.value)" />
      </td>
      <td class="date">
        <input [ngModel]="record.modified | amDateFormat:'MM-DD-YYYY'" (change)="recordChanged(record, 'modified', $event.target.value)" />
      </td>
      <td><a [routerLink]="['/']">Go!</a></td>
    </tr>
    <tr>
      <td><input value="Tagtune" /></td>
      <td><input value="Accounting" /></td>
      <td><input value="Kevin Snyder" /></td>
      <td><input value="$20614.14" /></td>
      <td><input value="archived" /></td>
      <td><input value="09/14/2015" /></td>
      <td><input value="10/02/2015" /></td>
      <td><a [routerLink]="['/']">Go!</a></td>
    </tr>
  </table>
</div>
